<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- 應收帳款系統資料庫連線字串 -->
    <add name="ERPConn" 
         connectionString="Data Source=localhost;Initial Catalog=ERP_DB;Integrated Security=true;TrustServerCertificate=true;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- 應用程式設定 -->
    <add key="SystemName" value="應收帳款登錄系統" />
    <add key="Version" value="1.0.0" />
    <add key="DefaultAccountCode" value="1103" />
    <add key="MaxFileSize" value="5242880" /> <!-- 5MB -->
  </appSettings>

  <system.web>
    <!-- 編譯設定 -->
    <compilation debug="true" targetFramework="4.8" />
    
    <!-- HTTP 執行階段設定 -->
    <httpRuntime targetFramework="4.8" maxRequestLength="5120" executionTimeout="300" />
    
    <!-- 工作階段狀態設定 -->
    <sessionState timeout="30" mode="InProc" />
    
    <!-- 自訂錯誤設定 -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/Error404.aspx" />
      <error statusCode="500" redirect="~/Error500.aspx" />
    </customErrors>
    
    <!-- 頁面設定 -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
    </pages>
    
    <!-- 全球化設定 -->
    <globalization culture="zh-TW" uiCulture="zh-TW" />
    
    <!-- 驗證設定 -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" />
    </authentication>
    
    <!-- 授權設定 -->
    <authorization>
      <allow users="*" />
    </authorization>
    
    <!-- HTTP 模組 -->
    <httpModules>
      <!-- 可以在這裡加入自訂模組 -->
    </httpModules>
    
    <!-- HTTP 處理常式 -->
    <httpHandlers>
      <!-- 可以在這裡加入自訂處理常式 -->
    </httpHandlers>
  </system.web>

  <system.webServer>
    <!-- IIS 設定 -->
    <defaultDocument>
      <files>
        <clear />
        <add value="ARInvoiceEntry.aspx" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    
    <!-- 靜態內容設定 -->
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    
    <!-- HTTP 錯誤設定 -->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/Error404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    
    <!-- 安全性設定 -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="5242880" /> <!-- 5MB -->
      </requestFiltering>
    </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- 組件繫結重新導向 -->
    </assemblyBinding>
  </runtime>
</configuration> 